@charset "utf-8";

@import "_fonts.css";
@import "_variables.css";
@import "_reset.css";
@import "_grid.css";
@import "_header.css";
@import "_form.css";
@import "_table.css";
@import "_toggleSwitch.css";

.popup-error {
  background: #ef5350;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 15px;
}

.popup-error-message {
  line-height: 1.6;
  font-size: 14px;
}

.popup {
  width: 100%;
}
.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.requestHeaderContainer {
  font-size: 12px;
  grid-row: 4;
  grid-column: 1 / 3;
  word-break: break-all;
}
.requestHeader {
  list-style: none;
}
.requestHeaderName {
  font-weight: bold;
}
.requestHeaderValue {
  word-wrap: break-all;
}
.cookie {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 390px;
  display: inline-block;
}
.responseTextlabel{
  display:inline-block;
}
.fetch-responsetext{
  float:right;
  cursor: pointer;
  border: none;
  border-radius: var(--br);
  margin: 0 0 5px 0;
  font-weight: bold;
}
.fetch-responsetext,
.fetch-responsetext:hover,
.fetch-responsetext:focus,
.fetch-responsetext:active {
  background-image: url("./../images/fetchResponse.svg");
  background-position: 5px;
  background-size: 14px;
  background-repeat: no-repeat;

}
.select-status{
  width: 155px;
}