@charset "utf-8";

@import "_fonts.css";
@import "_variables.css";
@import "_reset.css";
@import "_grid.css";
@import "_header.css";
@import "_form.css";
@import "_table.css";
@import "_toggleSwitch.css";

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #1F3A93;
  border-radius: 50%;
  animation: spin 1.1s infinite linear;
  }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup-error {
  background: #ef5350;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 15px;
}

.popup-error-message {
  line-height: 1.6;
  font-size: 14px;
}

.popup {
  width: 100%;
}
.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.requestHeaderContainer {
  font-size: 12px;
  grid-row: 4;
  grid-column: 1 / 3;
  word-break: break-all;
}
.requestHeader {
  list-style: none;
}
.requestHeaderName {
  font-weight: bold;
}
.requestHeaderValue {
  word-wrap: break-all;
}
.cookie {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 390px;
  display: inline-block;
}
.responseTextlabel{
  display:inline-block;
}
.fetch-responsetext{
  float:right;
  cursor: pointer;
  border: none;
  border-radius: var(--br);
  margin: 0 0 5px 0;
  font-weight: bold;
}
.responseText{
  min-width: 278px;
  max-width: 278px;
}
.fetch-responsetext,
.fetch-responsetext:hover,
.fetch-responsetext:focus,
.fetch-responsetext:active {
  background-image: url("./../images/fetchResponse.svg");
  background-position: 5px;
  background-size: 14px;
  background-repeat: no-repeat;

}
.select-status{
  width: 155px;
}
.mt15 {
  margin-top: 15px;
}